*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit; }

html {
    font-size: 62.5%; }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #23272A;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box; }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.45);
    transition: all .2s; }
.container__title {
    color: #FFF; }
.container__data {
    padding: 1rem 3rem;
    background: #2C2F33;
    border-radius: 0 0 5px 5px; }
.container__data-table {
    color: #FFF; }
.container__data-table td {
    padding: .5rem; }
.container__title {
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0; }
.container__footer {
    margin: 1rem 0;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.4); }
.container__footer--link {
    color: #FFF;
    text-decoration: none;
    transition: all .2s ease; }
.container__footer--link:hover {
    color: #5865F2; }

.heading-primary {
    padding: 24px;
    border-radius: 5px 5px 0 0;
    background: #5865F2;
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box; }
.heading-primary--main {
    display: block;
    font-size: 1.2rem; }
.heading-primary--sub {
    display: block;
    font-size: 1rem;
    font-weight: 400; }

.paragraph {
    display: block;
    color: #FFF;
    font-size: 2rem;
    font-weight: 400;
    padding: .5rem 1.5rem;
    background: #2C2F33;
    border-radius: 0 0 5px 5px; }

.btn:visited,
.btn:active {
    text-decoration: none; }

.btn, .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    line-height: 3.5rem;
    padding: 0 1.2rem;
    border-radius: .5rem;
    border: none;
    transition: all .2s ease;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35); }

.btn__info {
    background: #5865F2;
    color: #FFF;
    font-weight: 700;
    font-size: 1.6rem; }
.btn__info:hover {
    background: rgba(88, 101, 242, 0.75);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35); }

.success {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box; }
.success__header {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px; }
.success__data {
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px; }
.input {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
}
.input:focus {
    outline: 2.5px solid #5865F2;
}
.error {
    outline: 2.5px solid red;
}
form {
    display: grid;
}
@media (min-width: 87.5rem) {
    .container:hover {
        transform: scale(1.02);
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.45); } }
